
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account</title>
</head>
<body>
    <div> 
        <div>登录账号：<input type="text" id="txtUserName" /></div>
        <div>登录密码：<input type="password" id="txtPassword1" /></div>
        <div>确认密码：<input type="password" id="txtPassword2" /></div>
    </div>
    <button type="button" id="btnAccount"> 提交</button>
    <div id="divMsg"></div>
</body>
</html>
<script src="/Scripts/require/require/2.2.0/require.js"></script>
<script src="/Scripts/require/config/1.0.0/require.config.js"></script>
<script type="text/javascript">
    require(["jquery", "MISSY", "jquery.md5"], function () {
        var layerLoadIdx = -1;
        $(function () {
            initPage();
        });
        function initPage() {
            $("#btnAccount").click(function () { Login(); });
            $("body").keyup(function (event) {
                var e = document.all ? window.event : event;
                var keycode = (e.keyCode ? e.keyCode : e.which);
                if (keycode === 13) {
                    Login();
                }
            });
        };
        function Login() {
            var UserName = MISSY.Trim($("#txtUserName").val());
            if (MISSY.IsEmpty(UserName)) {
                $("#divMsg").html("用户名不能为空！");
                $("#txtUserName").focus();
                return false;
            }
            var Password1 = MISSY.Trim($("#txtPassword1").val());
            if (MISSY.IsEmpty(Password1)) {
                $("#divMsg").html("登录密码不能为空！");
                $("#txtPassword").focus();
                return false;
            }
            var Password2 = MISSY.Trim($("#txtPassword2").val());
            if (MISSY.IsEmpty(Password2)) {
                $("#divMsg").html("确认密码不能为空！");
                $("#txtPassword").focus();
                return false;
            }
            if (Password1 !== Password2) {
                $("#divMsg").html("确认密码不一致！");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/Login/SystemAccount",
                data: { UserName: UserName, Password: $.md5(Password1) },
                dataType: "json",
                beforeSend: function () { layerLoadIdx = MISSY.iShowLoading("Loding..."); },
                success: function (response) {
                    if (!response) { MISSY.iErrorReturnNull(); return; }
                    if (response.ErrorType === 1) {
                        $("#divMsg").html("注册成功！");
                       // window.location.href = "/Home/Index?_r=" + Math.random();
                    }
                    else {
                        MISSY.iErrorMessage(response.MessageContent);
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    MISSY.iErrorMessage(response.MessageContent);
                },
                complete: function (xmlHttpRequest, textStatus) {
                    MISSY.iHideLoading(layerLoadIdx);
                }
            });
        };
    });
</script>